<div class="navGap" ng-click="gotoHome()">Home</div>

<div class="container">
    <div class="page-header">
        <div class="jumbotron">
            <h2 class="content-header text-center header">Education</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <ul>
            <li class="content">DEPOT/U  Birmingham, Alabama  April 2016</br>
            Front End Engineer Certification</li></br>
            <li class="content">University of North Alabama   Florence, Alabama
            </li></br>
            <li class="content">Hoover High School   Hoover, Alabama  May 2007</li>
        </ul>
    </div>
</div>