
<div class="container">
    <div class="page-header">
        <div class="jumbotron">
            <h1 class="fontz text-center header">William Rainey</h1>
            <h3 class="fontz text-center header">Front End Engineer</h3>
        </div>
    </div>
</div>
<div class="row">
    <div id="myPhoto">
        <div class="container col-md-12">
            <img class=" well well-sm" id="photo" src="myResume/Images/myResumePhoto.jpeg" alt="Resume Photo">
        </div>
    </div>
</div>

    <!--<a id="aboutMe"></a>-->
    <div class="container">
        <div class="jumbotron">
            <h2 class="fontz text-center header">About Me</h2>
            <p>Hello,
                my name is William Rainey, I am 26 years old and eager for work. I was born
                and raised in Birmingham, AL. I am an Eagle Scout, which I got at the age
                of 17. I enjoy crappie fishing, wood working, and helping others out in my
                free time with no intentions of payment. I am a very hard worker and I do
                my best to be a fast learner.  
            </p>
        </div>
    </div>
<!--<a id="workExperience"></a>
    <div class="container">
        <div class="jumbotron">
            <h2 class="fontz text-center header">Work Experience</h2>
            <p>For most of my life I have had hard labor based jobs. With this being said,
                it is not to say that this is my limitation on the type of work that I can 
                perform. For 10 1/2 weeks I attended the Depot/U front end developer bootcamp,
                which is located inside of the Innovation Depot building in downtown Birmingham.
                I am capable of using html/css, javascript, angularjs, and bootstrap.
            </p>
            <!--<div class="details" ng-click="gotoWorkHist()">More details</div>-->
        <!--<button class="details" ng-click="gotoWorkHist()">More details</button>-->
        <!--</div>-->
        <!--<button class="details" ng-click="gotoWorkHist()">More details</button>-->
    <!--</div>-->
    <!--<button class="details" ng-click="gotoWorkHist()">More details</button>-->-->

<!--<a id="knowledge"></a>
    <div class="container">
        <div class="jumbotron">
            <h2 class="fontz text-center header">Education</h2>
            <p>I am a graduate of Hoover High School, I went to college at the University
                of North Alabama for approximately 2 1/2 years until complications brought
                me back home. While I was there I was working towards a bachelors in Computer
                Information Systems with a minor of Computer Science. I graduated from the 
                Depot/U front end developer bootcamp on April 29, 2016.
            </p>
            <div class="details" ng-click="gotoSchool()">More details</div>
        </div>
    </div>
    
    <button ng-click="myFunction()">Why not</button>
    <p id="demo"></p>-->
    
    <!--<script type="text/javascript" src="https://form.jotform.com/jsform/61225573203144"></script>-->
    
    <!--<div>
        <h1>Contact Me</h1>
        <h4>Name</h4>
        <input type="text" placeholder="First Name" required>
        <input type="text" placeholder="Last Name" required>
        <input type="text" placeholder="Email" required>
        <input type="text" placeholder="Subject Matter" required>
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
    </div>-->